* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #fff8f0;
  font-family: Arial, sans-serif;
  margin: 0;  
  height: 100%;
}

a  {
  color: rgb(0, 0, 0);
  text-align: center;
}

nav a:hover {
  color: #000000;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  flex: 1;
}

.menu a {
  display: block;
  text-align: center;
  padding: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #b89171;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #CEA27D;
}

.texto {
  color: rgba(0, 0, 0, 0.986);
  text-align: center;
  font-size: 20px;
  padding: 25px;
  font-family: "Georgia", serif;
  color: #835d3e;
}

h1 {
  margin:40px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

.titulo {
  background:#d37489 ;
  color:#fff8f0;
  padding: 10px;
}

.container {
  background: white;
  width: 100%;
  max-width: 880px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

label {
  font-weight: bold;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #d37489;
  color: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background: #45a049;
}

.rodape {
  background-color: #b89171d5;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
