* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #fff8f0;
  color: #000000;
  line-height: 1.6;
}

a  {
  color: rgb(0, 0, 0);
  text-align: center;
}

nav a:hover {
  color: #000000;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  flex: 1;
}

.menu a {
  display: block;
  text-align: center;
  padding: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #b89171;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #CEA27D;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 3.5em;
  margin: 20px;
  font-family: 'Georgia', serif;
  text-align: center;
}

p {
  font-size: 1.2em;
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

.titulo {
  background:#d37489 ;
  color:#fff8f0;
  padding: 10px;
}

.card {
  background: #fffdf9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  font-size: 1.3em;
  color: #b47440;
  margin: 15px;
  font-family: 'Georgia', serif;
}

.card p {
  margin: 0 15px 15px;
  font-size: 0.95em;
  line-height: 1.5em;
  color: #2b231f;
}

.opcoes {
  display: block;
  background: #f0859c;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-top: 4px solid #be687b;
}

.preco {
  display: grid;
  background: #df9253c0;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-top: 4px solid #e27e2dcc;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px #00000033;
}

.rodape {
   background-color: #b69070f6;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
