* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #fff8f0;
  font-family: Arial, sans-serif;
  margin: 0;  
  height: 100%;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  flex: 1;
}

.menu a {
  display: block;
  text-align: center;
  padding: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #b89171;
  transition: background-color 0.3s;
}


.menu a:hover {
  background-color: #CEA27D;
}

a  {
  color: rgb(0, 0, 0);
  text-align: center;
}

nav a:hover {
  color: #000000;
}


h4 {
  color: rgba(0, 0, 0, 0.623);
  text-align: center;
}


