* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #fff8f0;
  font-family: Arial, sans-serif;
  margin: 0;  
  height: 100%;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  flex: 1;
}

.menu a {
  display: block;
  text-align: center;
  padding: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #b89171;
  transition: background-color 0.3s;
}


.menu a:hover {
  background-color: #CEA27D;
}

a  {
  color: rgb(0, 0, 0);
  text-align: center;
}

nav a:hover {
  color: #000000;
}


.texto {
  color: rgba(0, 0, 0, 0.986);
  text-align: center;
  font-size: 19px;
  padding: 35px;
  font-family: "Georgia", serif;
  color: #835d3e;
}


.banner img {
  width: 100%;
  height: 300px;     
  object-fit: cover; 
  display: block;
}


.rodape {
  background-color: #b89171d5;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
